.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  margin-top: 80px;
}

.logo {
  text-transform: uppercase;
  font-style: italic;
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
  color: #5d5d5d;
}
li{
list-style: none;
text-align: left;
}
.logo p {
  font-size: 25px;
}

.img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    text-align: center;
  }
}
