<div class="container">
  <div class="info">
    <h1 class="logo"  >Thalles Daniel - Desenvolvedor Full-Stack Web</h1>

      <h2>{{ tituloAtual }}</h2>
      <p>{{ textoAtual }}</p>
      <button (click)="proximoTexto()">Próximo</button>

    <button class="projetos" (click)="redirectToProjects()">Clique aqui para ver meus projetos</button>
  </div>
  <div class="image">
    <img src="../../././../assets/img/Thalles.png" alt="Thalles Daniel(EU)" class="img" />
  </div>
</div>

<app-projetos *ngIf="mostrarProjetos"></app-projetos>
