<div class="container">
  <div class="info">
    <h1 class="logo">Muito prazer...</h1>
    <p>
      ...me chamo Thalles Daniel. Sou um desenvolvedor Full-Stack Web com
      conhecimento em:
    </p>
    <ul>
      <li>HTML/SCSS/JAVASCRIPT || TYPESCRIPT</li>
      <li>ANGULAR</li>
      <li>PgSQL</li>
      <li>JAVA / SPRING</li>
      <li>PYTHON</li>
      <li>PHP</li>
    </ul>
    <p>
      Possuo conhecimento em outras bibliotecas, linguagens e framewors, dentre
      elas, Ext.js, Next.js e C++
    </p>
  </div>
  <div class="image">
    <img
      src="../../././../assets/img/1661169776621.jpeg"
      alt="Thalles Daniel(EU)" class="img"
    />
  </div>
</div>
