<app-toolbar></app-toolbar>
<app-menu-lateral></app-menu-lateral>
<h2>
  Meus Projetos
</h2>

<div class="container">

<div class="options">
  <div class="option active" (click)="onClickOption($event)" style="background:url(../../../assets/videos/Vídeo\ do\ WhatsApp\ de\ 2023-09-30\ à\(s\)\ 22.26.48_42be641a.gif);background-size:100%; background-repeat:no-repeat;">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Evil Ping-Pong</div>
           <div class="sub">Um projeto hacker educaional, informando sobre o risco de instalar <br /> arquivos desconhecidos.</div>
        </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Oretemauw</div>
           <div class="sub">Omuke trughte a otufta</div>
        </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Iteresuselle</div>
           <div class="sub">Omuke trughte a otufta</div>
        </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Idiefe</div>
           <div class="sub">Omuke trughte a otufta</div>
        </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Inatethi</div>
           <div class="sub">Omuke trughte a otufta</div>
        </div>
     </div>
  </div>
</div>

</div>
