<app-toolbar></app-toolbar>
<app-menu-lateral></app-menu-lateral>
<h2>
  Meus Projetos
</h2>

<div class="container">

<div class="options">
  <div class="option active" (click)="onClickOption($event)" style="background:url(../../../assets/videos/Vídeo\ do\ WhatsApp\ de\ 2023-09-30\ à\(s\)\ 22.26.48_42be641a.gif);background-size:100%; background-repeat:no-repeat;">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Evil Ping-Pong</div>
           <div class="sub">Um projeto hacker educaional, informando sobre o risco de instalar <br /> arquivos desconhecidos. <br/>
           </div>
           <button class="projetos"><a href="https://github.com/ThallesDaniel/Evil_ping-pong" target="_blank">Clique aqui para ver O projeto!</a></button>
        </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="Background:url(../../../assets/img/Captura\ de\ tela\ 2023-10-01\ 084122.png);background-size:100%; background-repeat:no-repeat;">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">API_Python_email</div>
           <div class="sub">O código se trata de um api python para enviar email,<br/> no qual utilizo frequentemente em projetos pessoais, como um deles o projeto de<br/> segurança digital sobre iniseguranças envoolvendo QRcodes.</div>
           <button class="projetos"><a href="https://github.com/ThallesDaniel/API_Python_email/blob/main/Apiflask.py" target="_blank">Clique aqui para ver O projeto!</a></button>
          </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="Background:url(../../../assets/img/ianestech.png);background-size:100%; background-repeat:no-repeat;">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">S.A IANEStech</div>
           <div class="sub">Ainda que seja iniciante, beem iniciante, essa S.A (situação de aprendizagem)<br/> marcou o incio no meu interesse pelo front tal qual com o back, e marcou o inicio<br/> do meu  querer aprender, e me aperfeiçoar no front. </div>
           <button class="projetos"><a href="https://s-a-iane-stech.vercel.app/" target="_blank">Clique aqui para ver O projeto!</a></button>
          </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="Background:url(../../../assets/img/urano.png);background-size:100%; background-repeat:no-repeat;">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Uranos Telecom</div>
           <div class="sub">Por mais que o ponto principal desta S.A não fosse o Front,<br/> e sim a criação de um chat bot automatico para resolução de problemas simples <br/>(o qual foi concluido com total exito e pode ser utilizado no site), o font limpo e confortavel da <br/>landing page me inspirou totalmente no design deste portifolio.</div>
           <button class="projetos"><a href="https://uranotelecom.000webhostapp.com/" target="_blank">Clique aqui para ver O projeto!</a></button><br/><p></p>
          </div>
     </div>
  </div>
  <div class="option" (click)="onClickOption($event)" style="Background:url(../../../assets/img/mãonaroda.png);background-size:100%; background-repeat:no-repeat;">
     <div class="shadow"></div>
     <div class="label">

        <div class="info">
           <div class="main">Mão na roda</div>
           <div class="sub">Marcando o inicio do aprendizado de criação de interfaces<br/> graficas em java, essa sa tem grande importancia para mim, pois a partie dela <br/>tive interesse em java, posteriormente aprendo spring, o qual utilizo<br/> ate os dias atuais na empresa em que trabalho e projetos Freelancers</div>
        </div>
     </div>
  </div>
</div>

</div>
