

<div class="container">
  <h2 class="pagetitulo">Meus projetos</h2>
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/videos/Vídeo do WhatsApp de 2023-09-30 à(s) 22.26.48_42be641a.gif" alt="" />
      </figure>
      <div class="article-body">
        <h2>Evil Ping-Pong</h2>
        <p>
          Um projeto hacker educacional, informando sobre o risco de instalar  arquivos desconhecidos.
        </p>
        <a href="https://github.com/ThallesDaniel/Evil_ping-pong" class="read-more" target="_blank">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>

  <article>
    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/todo2.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Novo To-Do web app</h2>
        <p>
          Nova versão do To-Do Web, construido com Angular e utilizando a estilização do Angular Material. (em desenvolvimento)
        </p>
        <a href="https://new-to-do-app-nu.vercel.app/" class="read-more" target="_blank">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>

  <article>
    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/flap.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Flap Java Bird</h2>
        <p>
          Um clone do famoso flap-bird, originalmente feito em Python, tranascrito para java, feito para diversão e treino de lógica.
        </p>
        <a href="https://github.com/ThallesDaniel/flap_bir-java" class="read-more" target="_blank">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/Captura de tela 2023-10-01 084122.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>API_Python_email</h2>
        <p>
          O código se trata de um api python para enviar email, no qual utilizo frequentemente em projetos pessoais, como um deles o projeto de segurança digital sobre inseguranças envolvendo QRcodes.
        </p>
        <a href="https://github.com/ThallesDaniel/API_Python_email/blob/main/Apiflask.py" target="_blank" class="read-more">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>

  <article>

    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/javaspring.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Automacao_tiktok (em construção)</h2>
        <p>
          O código a seguir é construído em java Spring e consiste em um site que abre o Tik Tok, da like, e passa para o próximo vídeo automaticamente durante 30 minutos.
        </p>
        <a href="https://github.com/ThallesDaniel/Automacao_tiktok" target="_blank" class="read-more">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>

  <article>
    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/todo.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Editor de HTML</h2>
        <p>
          Um editor de coigo HTML e CSS (ainda não tem suporte a JS mas estou trabalhando nisso) simples, com preview do código.
        </p>
        <a href="https://editor-html-six.vercel.app/" class="read-more" target="_blank">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>

  <article>
    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/TODOWEB.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>To Do WEB</h2>
        <p>
          Uma aplicação de To Do, que alem de armazenar a tarefa, permite o compartilhamento da mesma por meio de link, permitindo outras pessoas verem as tarefas também.
        </p>
        <a href="https://to-do-thalles.vercel.app/" class="read-more" target="_blank">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>

  <article>

    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/ianestech.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>IANEStech</h2>
        <p>
          Ainda que seja iniciante, esse projeto marcou o início no meu interesse pelo front tal qual com o back, e marcou o inicio do meu  querer aprender, e me aperfeiçoar no front.
        </p>
        <a href="https://s-a-iane-stech.vercel.app/" target="_blank" class="read-more">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/urano.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Uranos Telecom</h2>
        <p>
          Por mais que o ponto principal deste projeto não fosse o Front, e sim a criação de um chat bot automatico para resolução de problemas simples (o qual foi concluido com total exito e pode ser utilizado no site), o font limpo e confortavel da landing page me inspirou totalmente no design deste portifolio.
        </p>
        <a href="https://uranotelecom.000webhostapp.com/" target="_blank" class="read-more">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/mãonaroda.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Mão na roda</h2>
        <p>
          Marcando o inicio do aprendizado de criação de interfaces graficas em java, esse projeto tem grande importancia para mim, pois a partir dela tive interesse em java, posteriormente aprendo spring, o qual utilizo ate os dias atuais na empresa em que trabalho e projetos Freelancers</p>
        <a href="https://github.com/ThallesDaniel/s.a-mao-na-roda" target="_blank" class="read-more">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="../../../assets/img/eletrotech.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Eletrotech</h2>
        <p>
          O projeto consiste em um Site para solicitar serviços de uma empresa de eletricistas, e tambem um sistema desktop para a empresa, o sistema emite OS (Ordem de serviços) para os funcionários logados conforme surgem chamados(que são salvos em um banco de dados).
        </p>
        <a href="https://github.com/ThallesDaniel/S.AEletrotech" target="_blank" class="read-more">
          Clique aqui para ver o projeto!
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>
</div>
