<div class="menu">
  <ul>
    <li class="mobile-only" (click)="toggleMenu()"><mat-icon>arrow_forward_ios</mat-icon></li>
    <li><a href="https://www.instagram.com/thalles_andrade148/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://wa.me/5531998518179" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
    <li><a href="https://br.linkedin.com/in/thalles-daniel-66a604229?trk=public_post_feed-actor-image" target="_blank"><i class="fab fa-linkedin"></i></a></li>
  </ul>
</div>
